@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.box {
    width: 45%;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    resize: none;
}

button {
    font-size: 24px;
    margin: 20px 0;
    cursor: pointer;
}

#graph {
    width: 100%;
    height: 400px;
}